<?xml version="1.0"?>
<!--
  ~ Copyright Extend (c) 2023. All rights reserved.
  ~ See Extend-COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <extend>
            <integration>
                <enable>0</enable>
            </integration>
        </extend>
        <extend_plans>
            <shipping_protection>
                <enable>1</enable>
            </shipping_protection>
            <product_protection>
                <enable>0</enable>
                <enable_cart_balancing>1</enable_cart_balancing>
                <offer_display_settings>
                    <enable_cart_offer>1</enable_cart_offer>
                    <enable_minicart_offer>1</enable_minicart_offer>
                    <enable_pdp_offer>1</enable_pdp_offer>
                    <enable_product_catalog_page_modal_offer>1</enable_product_catalog_page_modal_offer>
                    <enable_post_purchase_lead_modal_offer>1</enable_post_purchase_lead_modal_offer>
                </offer_display_settings>
            </product_protection>
        </extend_plans>
    </default>
</config>
