<?xml version="1.0"?>
<!--
  ~ Copyright Extend (c) 2022. All rights reserved.
  ~ See Extend-COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="extend" translate="label" sortOrder="200">
            <label>Extend</label>
        </tab>
        <section id="extend" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Integration</label>
            <tab>extend</tab>
            <resource>Magento_Catalog::config_catalog</resource>
            <group id="extend_info" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                <frontend_model>Extend\Integration\Block\Adminhtml\Integration\Edit\Tab\Intro</frontend_model>
            </group>
            <group id="integration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Integration</label>
                <field id="environment" translate="label" type="select" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Environment</label>
                    <source_model>Extend\Integration\Model\Config\Source\Environment</source_model>
                </field>
                <group id="how_to_activate" translate="label" type="text" sortOrder="20" showInDefault="1">
                    <frontend_model>Extend\Integration\Block\Adminhtml\Integration\Edit\Tab\HowToActivate</frontend_model>
                </group>
                <field id="enable" translate="label" type="select" sortOrder="20" showInDefault="1" canRestore="1">
                    <label>Enable Extend</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <group id="finish_integration" translate="label" type="text" sortOrder="30" showInStore="1">
                    <frontend_model>Extend\Integration\Block\Adminhtml\Integration\Edit\Tab\FinishIntegration</frontend_model>
                </group>
                <field id="create_prod_integration" type="button" sortOrder="40" showInDefault="1">
                    <button_label>Create Production Integration</button_label>
                    <button_url>extend_integration/integration/createprod</button_url>
                    <frontend_model>Extend\Integration\Model\Config\Frontend\CreateProdIntegration</frontend_model>
                </field>
                <field id="create_demo_integration" type="button" sortOrder="40" showInDefault="1">
                    <button_label>Create Demo Integration</button_label>
                    <button_url>extend_integration/integration/createdemo</button_url>
                    <frontend_model>Extend\Integration\Model\Config\Frontend\CreateDemoIntegration</frontend_model>
                </field>
            </group>
        </section>
        <section id="extend_plans" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Protection Plans</label>
            <tab>extend</tab>
            <resource>Magento_Catalog::config_catalog</resource>
            <group id="shipping_protection" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shipping Protection</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Shipping Protection</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_model>Extend\Integration\Model\Config\Frontend\EnableShippingProtection</frontend_model>
                    <comment>Disabling Shipping Protection may render existing orders' totals inaccurate if the order was purchased with Shipping Protection.</comment>
                </field>
                <field id="shipping_protection_tax_class" translate="label" type="select" sortOrder="20" showInDefault="1" canRestore="1">
                    <label>Tax Class Config</label>
                    <source_model>Magento\Tax\Model\TaxClass\Source\Product</source_model>
                    <backend_model>Magento\Tax\Model\Config\TaxClass</backend_model>
                    <comment>Set the Tax Class config for the Extend Shipping Protection product which will allow tax to be collected.</comment>
                </field>
            </group>
            <group id="product_protection" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Protection</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Product Protection (V2)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_model>Extend\Integration\Model\Config\Frontend\EnableProductProtection</frontend_model>
                    <backend_model>Extend\Integration\Model\Config\Backend\EnableProductProtection</backend_model>
                </field>
                <field id="recreate_pp_product" type="button" sortOrder="20" showInDefault="1" canRestore="1">
                    <button_label>Recreate Product Protection Product</button_label>
                    <button_url>extend_integration/productprotection/create</button_url>
                    <frontend_model>Extend\Integration\Model\Config\Frontend\RecreatePPProduct</frontend_model>
                </field>
                <field id="enable_cart_balancing" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Cart Balancing</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_model>Extend\Integration\Model\Config\Frontend\EnableCartBalancing</frontend_model>
                    <comment>Enable Cart Balancing to ensure correct number of product protection plans vs their respective products.</comment>
                </field>
                <group id="offer_display_settings" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="extend_plans/product_protection/enable">1</field>
                    </depends>
                    <attribute type="expanded">1</attribute>
                    <label>Offer Display Settings</label>
                    <field id="enable_cart_offer" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Display Product Protection Offers in Cart</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="extend_plans/product_protection/enable">1</field>
                        </depends>
                        <comment>Display Extend Product Protection offers on each individual warrantable item in the customer's cart.</comment>
                    </field>
                    <field id="enable_minicart_offer" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Display Product Protection Offers in Mini Cart</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="extend_plans/product_protection/enable">1</field>
                        </depends>
                        <comment>Display the Extend Product Protection offers for customers using the mini cart.</comment>
                    </field>
                    <field id="enable_pdp_offer" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Display Product Protection Offers on Product Display Page</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="extend_plans/product_protection/enable">1</field>
                        </depends>
                        <comment>Display Extend Product Protection offers on the product display page for each warrantable item.</comment>
                    </field>
                    <field id="enable_product_catalog_page_modal_offer" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Display Product Protection Offers on Product Catalog Page</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="extend_plans/product_protection/enable">1</field>
                        </depends>
                        <comment>Display the Extend Product Protection offer modal on the product catalog page after clicking &#x201C;Add to cart&#x201C; for each warrantable item.</comment>
                    </field>
                    <field id="enable_post_purchase_lead_modal_offer" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Display Post-Purchase Product Protection Offers</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="extend_plans/product_protection/enable">1</field>
                        </depends>
                        <comment>Display Post-Purchase Extend Product Protection offers.</comment>
                    </field>
                </group>
            </group>
        </section>
        <section id="warranty" sortOrder="30">
            <group id="enableExtend">
                <field id="enable">
                    <backend_model>Extend\Integration\Model\Config\Backend\V1enable</backend_model>
                </field>
            </group>
            <label>Legacy Protection Plans</label>
        </section>
    </system>
</config>
